<div class="add-box">
  <div class="add-inner">
      <div class="add-tbl-title">例文一覧</div>
        <div class="new-term-form">
          <p id="notice"><%= notice %></p>

          <table>
            <thead>
              <tr>
                <th>単語</th>
                <th>例文</th>
                <th>その一文の出所（人物名）</th>
                <th>人物名カナ</th>
                <th>引用元種類</th>
                <th>引用元作品</th>
                <th>作品名カナ</th>
                <th>URL</th>
                <th>コンセプト(タグ)</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @sentences.each do |sentence| %>
                <tr>
                  <td><%= sentence.term_id %></td>
                  <td><%= sentence.body %></td>
                  <td><%= sentence.source.author.name %></td>
                  <td><%= sentence.source.author.kana %></td>
                  <td><%= sentence.source.category %></td>
                  <td><%= sentence.source.title %></td>
                  <td><%= sentence.source.kana %></td>
                  <td><%= sentence.url %></td>
                  <td><%= sentence.favorite_count %></td>
                  <td><%= link_to 'Show', sentence %></td>
                  <td><%= link_to 'Edit', edit_sentence_path(sentence) %></td>
                  <td><%= link_to 'Destroy', sentence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <br>

          <%= link_to 'New Sentence', new_sentence_path %>

        </div>
  </div>
</div>
